/* Put your custom styles here */
@media (min-width:800px) {
    .header-bg-image {
        background-image: url('../images/camera-girl.jpg');
        background-color: #434390;
        padding-top: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.menu-color {
    width: 100%;
    font-family: 'Roboto', sans-serif;

    /*transition for the background color*/
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 700ms;
    -o-transition: background-color 700ms;
    transition: background-color 700ms;
}

/*color classes to be applied to "#wrapper" by the js*/
.colorOne {
    background-color: rgba(45, 45, 46, 0.50);
}

.colorTwo {
    background-color: rgba(45, 45, 46, 1);
}

#header-2 .main-nav .nav {
    margin-top: 25px;
}

#header-2 .main-nav .navbar-nav > li a {
    color: white;
}

.position-normal {
    position: static;
    top: 0px;
    left: 0px;
}

.position-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
}

.site-name {
    font-weight: 900;
    color: #ffffff;
}

.site-name h1 {
    font-weight: 900;
    font-variant: small-caps;
    margin: 0;
    font-size: 35px;
}

.site-name h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-header {
    padding: 0;
}

.my-image {
    background: url("../images/typewriter-bg.jpg") center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
}